<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 常駐アプリケーションとして起動する(0: 起動しない, 1: 起動する) -->
    <!-- ＊ 常駐アプリケーションとして起動した場合は、タスクバーにアイコンが表示されます -->
    <add key="RunningAtBackground" value="0" />

    <!-- 常駐アプリケーションとして起動した際のウィンドウ初期表示設定(0: 表示しない, 1: 表示する) -->
    <!-- ＊ スタートアップに登録する場合などは、「表示しない」がおすすめです -->
    <add key="ShowWindow" value="1" />

    <!-- モードを変更したら終了する(0: 終了しない(非表示にしない), 1: 終了する(非表示にする)) -->
    <!-- ＊ 常駐アプリケーションとして起動した場合は、終了する代わりに、ウィンドウを非表示にします -->
    <add key="ChangeModeAfterExit" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>